@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wdth,wght@0,50..150,100..900;1,50..150,100..900&display=optional");
body {
  margin: 0;
}
nav {
  position: relative;
  display: flex;
  justify-content: center;
 
  min-height: 100vh;
  padding: 100px;
  box-sizing: border-box;
}



nav::before {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  color: #fff;
  font: 400 24px/1 'Anybody', sans-serif;
 
  text-align: center;
}

/* common */
nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul::after {
  display: block;
  clear: both;
  content: '';
  
}
nav ul li {
  position: relative;
  float: left;
  border: 2px solid #fff;
  max-width: 174px;
}
nav ul li:not(:first-child) {
  border-left: none;
}
nav ul li:hover {
  /* background-color: rgba(255, 255, 255, 0.3); */
  background: linear-gradient(90deg, #001F3F 3%, #3992FF  50%, #001F3F 95%);
}
nav ul li a {
  display: inline-block;
  padding: 1em 3em;
  color: #fff;
  font: 400 18px/1 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
nav ul ul {
  position: absolute;
  top: 100%;
  left: -2px;
}
nav ul ul li {
  float: none;
  margin: 0;
}
nav ul ul li:not(:first-child) {
  border: 2px solid #fff;
  border-top: none;
}
nav ul ul ul {
  position: absolute;
  top: -2px;
  left: 100%;
}

.nav05 ul ul {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transform: rotateX(-90deg) rotateY(0);
  transform-origin: 0 0;
}



.nav ul li {
  perspective: 300px;
}

.nav05 ul ul li {
  perspective: 1500px;
}
.nav05 ul ul ul {
  transform: rotateX(0) rotateY(-90deg);
}
.nav05 ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0) rotateY(0);
}

.container{
    background-color: #5421BB;
    color: white;
}
